.form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  background-color: #fff;
}

label {
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}

/* Background image styling */
.background {
  background-image: url('/src/assets/SharingFood.jpg'); 
  background-repeat: repeat;
  background-size: cover;
  height: 200px; 
}
